<div class="section3">
		<h1>All Contacts</h1>
		<ul>
		<% Contact.all.each do |contact| %>
	 <a href='/contacts/<%= contact.id %>'><li>Full Name: <%= contact.first_name %><%= contact.last_name %></a>
			 <p>
		  </p>Email: <%= contact.email %></p></li>
			<li>Note: <%= contact.note %></li>
		<% end %>
		</ul>

</div>
