<div class="section3">
	<h4>Your returned contacts </h4>
</div>

<div class="section3">

<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Note:</strong></p>
<p><%= @contact.note %></p>

<form action='/contacts/<%= @contact.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Delete Contact'>
</form>

<a href='/contacts/<%= @contact.id %>/edit'><h1>Edit Contact</h1></a>
</div>
